# **sportsdataverse** <a href='https://saiemgilani.github.io/sportsdataverse/'><img src='https://raw.githubusercontent.com/saiemgilani/sportsdataverse/master/docs2/static/img/logo.png' align="right" width="20%" min-width="100px"/></a>

![Lifecycle:maturing](https://img.shields.io/badge/lifecycle-maturing-blue.svg?style=for-the-badge&logo=github)
![Contributors](https://img.shields.io/github/contributors/saiemgilani/sportsdataverse?style=for-the-badge)
[![npm](https://img.shields.io/npm/v/sportsdataverse?style=for-the-badge)](https://www.npmjs.com/package/sportsdataverse)  [![npm](https://img.shields.io/npm/dm/sportsdataverse?style=for-the-badge)](https://www.npmjs.com/package/sportsdataverse) <img alt="npm bundle size" src="https://img.shields.io/bundlephobia/minzip/sportsdataverse?style=for-the-badge"/>
<a href='https://www.npmjs.com/package/sportsdataverse'>[![NPM](https://nodei.co/npm/sportsdataverse.png)](https://npmjs.org/package/sportsdataverse)</a>
[![Twitter Follow](https://img.shields.io/twitter/follow/SportsDataverse?color=blue&label=%40SportsDataverse&logo=twitter&style=for-the-badge)](https://twitter.com/SportsDataverse) [![Twitter Follow](https://img.shields.io/twitter/follow/saiemgilani?color=blue&label=%40saiemgilani&logo=twitter&style=for-the-badge)](https://twitter.com/saiemgilani)

## **Installation**

```bash
npm install sportsdataverse
```
View the full documentation website: [sportsdataverse node.js documentation](https://saiemgilani.github.io/sportsdataverse/)

## **ChangeLog**

### **V1.1.0**

The following breaking changes were made:
- submodules were just basically simplified/removed, all functions are just now {sport-league}.getXXX, eg. cfb.getTeamList() and no longer cfbTeams.getTeamList();
- support for statistics from stats.ncaa.com added, so you can get information on everything from men's ice-hockey to women's bowling.
- Documentation website created and updated

Support for the following data from ESPN's endpoints:

- play-by-play (including shot location data when available)
- scores
- schedule
- standings
- rankings (not available for professional sports)

Recruiting data from 247Sports available for:

- men's college basketball
- college football

The following sports are available from ESPN:

- College Basketball
- Women's College Basketball
- College Football
- WNBA
- NBA
- NFL
- NHL
- All team sports on the NCAA website:
  - 'football'
  - 'basketball-men'
  - 'basketball-women'
  - 'soccer-men'
  - 'soccer-women'
  - 'fieldhockey'
  - 'volleyball-women'
  - 'icehockey-men'
  - 'icehockey-women'
  - 'baseball'
  - 'beach-volleyball'
  - 'lacrosse-men'
  - 'lacrosse-women'
  - 'volleyball-men'

## **API Reference**
{{#namespace name="cbb"}}
{{>body~}}
{{>member-index~}}
{{>members~}}
{{/namespace}}

{{#namespace name="cfb"}}
{{>body~}}
{{>member-index~}}
{{>members~}}
{{/namespace}}

{{#namespace name="nba"}}
{{>body~}}
{{>member-index~}}
{{>members~}}
{{/namespace}}

{{#namespace name="ncaa"}}
{{>body~}}
{{>member-index~}}
{{>members~}}
{{/namespace}}

{{#namespace name="nfl"}}
{{>body~}}
{{>member-index~}}
{{>members~}}
{{/namespace}}

{{#namespace name="nhl"}}
{{>body~}}
{{>member-index~}}
{{>members~}}
{{/namespace}}

{{#namespace name="wbb"}}
{{>body~}}
{{>member-index~}}
{{>members~}}
{{/namespace}}

{{#namespace name="wnba"}}
{{>body~}}
{{>member-index~}}
{{>members~}}
{{/namespace}}

* * *

&copy; 2020-21 Saiem Gilani <saiem.gilani@gmail.com>. Documented by [jsdoc-to-markdown](https://github.com/75lb/jsdoc-to-markdown).