# **sportsdataverse** <a href='https://js.sportsdataverse.org/'><img src='https://raw.githubusercontent.com/sportsdataverse/sportsdataverse-js/main/docs/static/img/sdv-js-logo.png' align="right" width="20%" min-width="100px"/></a>

![Lifecycle:maturing](https://img.shields.io/badge/lifecycle-maturing-blue.svg?style=for-the-badge&logo=github)
![Contributors](https://img.shields.io/github/contributors/sportsdataverse/sportsdataverse-js?style=for-the-badge)
[![npm](https://img.shields.io/npm/v/sportsdataverse?style=for-the-badge)](https://www.npmjs.com/package/sportsdataverse)  [![npm](https://img.shields.io/npm/dm/sportsdataverse?style=for-the-badge)](https://www.npmjs.com/package/sportsdataverse)
[![Twitter Follow](https://img.shields.io/twitter/follow/SportsDataverse?color=blue&label=%40SportsDataverse&logo=twitter&style=for-the-badge)](https://twitter.com/SportsDataverse) [![Twitter Follow](https://img.shields.io/twitter/follow/SaiemGilani?color=blue&label=%40SaiemGilani&logo=twitter&style=for-the-badge)](https://twitter.com/SaiemGilani)
[![NPM](https://nodei.co/npm/sportsdataverse.png)](https://npmjs.org/package/sportsdataverse)


## **Installation**

```bash
npm install sportsdataverse
```
## **Documentation**

For more information on the package and function reference, please see the [sportsdataverse node.js documentation website](https://js.sportsdataverse.org/)

## **Breaking Changes**

[**Full News on Releases**](https://js.sportsdataverse.org/CHANGELOG)

## Follow the [SportsDataverse](https://twitter.com/SportsDataverse) on Twitter and star this repo

[![Twitter Follow](https://img.shields.io/twitter/follow/SportsDataverse?color=blue&label=%40SportsDataverse&logo=twitter&style=for-the-badge)](https://twitter.com/SportsDataverse)

[![GitHub stars](https://img.shields.io/github/stars/sportsdataverse/sportsdataverse-js.svg?color=eee&logo=github&style=for-the-badge&label=Star%20sportsdataverse-js&maxAge=2592000)](https://github.com/sportsdataverse/sportsdataverse-js/stargazers/)

## **Our Authors**

-   [Saiem Gilani](https://twitter.com/saiemgilani)

<a href="https://twitter.com/saiemgilani" target="blank"><img src="https://img.shields.io/twitter/follow/SaiemGilani?color=blue&label=%40SaiemGilani&logo=twitter&style=for-the-badge" alt="@SaiemGilani" /></a>
<a href="https://github.com/saiemgilani" target="blank"><img src="https://img.shields.io/github/followers/saiemgilani?color=eee&logo=Github&style=for-the-badge" alt="@saiemgilani" /></a>


## **Citations**

To cite the [**`sportsdataverse`**](https://js.sportsdataverse.org) Node.js package in publications, use:

BibTex Citation
```bibtex
@misc{gilani_2021_sportsdataverse_js,
  author = {Gilani, Saiem},
  title = {sportsdataverse-js: The SportsDataverse's Node.js Package for Sports Data.},
  url = {https://js.sportsdataverse.org},
  year = {2021}
}
```

## **Overview of Services**

Support for the following data from ESPN's endpoints:

- play-by-play (including shot location data when available)
- scores
- schedule
- standings
- rankings (not available for professional sports)

Recruiting data from 247Sports available for:

- men's college basketball
- college football

The following sports are available from ESPN:

- Men's College Basketball
- Women's College Basketball
- College Football
- WNBA
- MLB
- NBA
- NFL
- NHL
- All team sports on the NCAA website:
  - 'football'
  - 'basketball-men'
  - 'basketball-women'
  - 'soccer-men'
  - 'soccer-women'
  - 'fieldhockey'
  - 'volleyball-women'
  - 'icehockey-men'
  - 'icehockey-women'
  - 'baseball'
  - 'beach-volleyball'
  - 'lacrosse-men'
  - 'lacrosse-women'
  - 'volleyball-men'

## **API Reference**

{{#namespace name="cfb"}}
{{>body~}}
{{>member-index~}}
{{>members~}}
{{/namespace}}

{{#namespace name="mbb"}}
{{>body~}}
{{>member-index~}}
{{>members~}}
{{/namespace}}

{{#namespace name="mlb"}}
{{>body~}}
{{>member-index~}}
{{>members~}}
{{/namespace}}

{{#namespace name="nba"}}
{{>body~}}
{{>member-index~}}
{{>members~}}
{{/namespace}}

{{#namespace name="ncaa"}}
{{>body~}}
{{>member-index~}}
{{>members~}}
{{/namespace}}

{{#namespace name="nfl"}}
{{>body~}}
{{>member-index~}}
{{>members~}}
{{/namespace}}

{{#namespace name="nhl"}}
{{>body~}}
{{>member-index~}}
{{>members~}}
{{/namespace}}

{{#namespace name="tennis"}}
{{>body~}}
{{>member-index~}}
{{>members~}}
{{/namespace}}

{{#namespace name="wbb"}}
{{>body~}}
{{>member-index~}}
{{>members~}}
{{/namespace}}

{{#namespace name="wnba"}}
{{>body~}}
{{>member-index~}}
{{>members~}}
{{/namespace}}

* * *

&copy; 2020-21 <a href="https://js.sportsdataverse.org/">sportsdataverse.js</a>, developed by <a href='https://twitter.com/saiemgilani'>Saiem Gilani</a>, part of the <a href='https://sportsdataverse.org'>SportsDataverse</a>